article {
  all: unset;
}
.service-tiles {
  width: 100%;
}
@media (max-width: 820px) {
  .service-container {
    border-radius: 25px;
    text-align: center;
    padding-bottom: 30px;
    transition: 0.4s;
  }
}
@media (min-width: 821px) {
  .service-container {
    border-radius: 25px;
    float: left;
    text-align: center;
    width: 33.33%;
    transition: 0.4s;
    padding-bottom: 15px;
  }
}
.service-container:hover {
  background: #d4e0fa;
}

.bar {
  background: var(--primary-accent);
  text-align: center;
}
.bar.mask {
  background: var(--primary-accent);
  opacity: 1;
}

.bar.background-web-image {
  background: url("../images/web-design-graphic.jpg") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bar.background-image {
  background: url("../images/hero/techBG.jpeg") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.on-image {
  color: white;
  text-shadow: 2px 2px 2px black;
  padding-top: 2em;
  padding-bottom: 2em;
}
