<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <hr> <!-- TODO remove hr tag -->
    {{ block "page-header" . }}
    {{ end }}
  <br>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  <br>
    {{ block "page-footer" . }}
    {{ end }}
    <hr> <!-- TODO remove hr tag -->
    {{ partial "footer.html" . }}
  </body>
</html>