<header class="site-header">
  
  <nav class="site-nav">
    <!-- logo area start -->
    <a class="logo" href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <!-- logo area end -->
    <!-- menu start -->
    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <!-- menu end -->
  </nav>
</header>
