<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8493607849190282"
  crossorigin="anonymous"
></script>
<style>
  .center-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
  }
</style>
<!-- Horizontal Responsive -->
<div class="dib v-mid">
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-8493607849190282"
    data-ad-slot="5055821878"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
</div>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
