<style>
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
      }
</style>

<form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Your Name: <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p>
        <label>Company: <input type="text"/></label>
      </p>
   
    <p>
      <label>What can we help you with? </label><br><textarea name="message"></textarea>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>