<style>
    summary{
        font-size: x-large;
        font-weight: 500;
        list-style: none;
    }
</style>


<h1>Company</h1> 

<details>
    <summary>Who is Colbal?</summary>
    <br>
    We are a small group of retired military veterans with a wealth of knowledge and experience. The majority of tech companies focus on medium to large businesses, with services that are usually cost-prohibitive to smaller companies. We are here to help small, even tiny, businesses leverage the same technology used in big tech to cut costs, increase revenue, and to make life easier. For more information, click {{< ref "/about/" >}}Here 
    <br>
</details>
<br>

<details>
    <summary>What do we do?</summary>
    <br>
    Our mission is to take what we know and apply it to helping small businesses that otherwise would be neglected or priced out by other companies. What we do is whatever we need to in order to meet your technology needs, and if we can't, we recommend another course of action that can. 
    <br>
</details>
<br>

<details>
    <summary>Where are you located?</summary>
    <br>
    We are physically located in Southern New Hampshire and Chandler, Arizona. We can provide face-to-face service to companies within those areas; however, many of our services can be used remotely anywhere in the world!
    <br>
</details>
<br>
    
<details>
    <summary>What services do you offer?</summary>
    <br>
    We offer a wide range of services, including Web design, cloud migration and process improvement, but one of our more important services is consulting, since problems and solutions are not always clear. We are here to help identify your future technology needs, so contact us and schedule your free 30 minute consultation to see if we are the right fit for your business.
    <br>
</details>
<br>


<h1>Sales & Pricing</h1>


<details>
    <summary>How will I know your services suit our needs?</summary>
    <br>
    This is exactly why we offer a free initial consultation. We may not be a good fit for you. The only way to truly know is to see what your needs are, and what we can offer you. Fortunately, finding out is risk free!
    <br>
</details>
<br>
    
<details>
    <summary>How much do your services cost?</summary>
    <br>
    Always an important question, and usually the most important factors in making any business decision. Since the nature of what we do is so highly customizable, there are no figures we can offer here generally; however, once we determine your specific needs, we will be happy to discuss price and work with you to come to a reasonable and acceptable agreement.
    <br>
</details>
<br>


<details>
    <summary>How do I get started?</summary>
    <br>
    Whether you're ready to get started or would like to learn more, we offer a complimentary 30-minute consultation to better understand your business IT requirements. 
    <br>
</details>

