<style>
    summary{
        font-size: x-large;
        font-weight: bold;
    
    }
</style>


<h1>Company</h1> 

<details>
    <summary>Who is Colbal?</summary>
    <br>
    The best company ever!!!!
    <br>
</details>
<br>

<details>
    <summary>What do we do?</summary>
    <br>
    insert text here.
    <br>
</details>
<br>

<details>
    <summary>Where are you located?</summary>
    <br>
    We are physically located in Southern New Hampshire and Chandler, Arizona. We can provide face-to-face service to companies within those areas; however, many of our services can be used remotely anywhere in the world!
    <br>
</details>
<br>
    
<details>
    <summary>What services do you offer?</summary>
    <br>
    insert text here
    <br>
</details>
<br>


<h1>Sales & Pricing</h1>


<details>
    <summary>How will I know your services suit our needs?</summary>
    <br>
    Talk about initial consultation
    <br>
</details>
<br>
    
<details>
    <summary>How much do your services cost?</summary>
    <br>
    As an MSP that offers customized solutions for every business, our pricing depends on your needs. If you're interested in managed IT services, visit our managed IT services page for general pricing information. For additional information and pricing on all other services, schedule a free IT consultation.
    <br>
</details>
<br>


<details>
    <summary>How long are your service plans?</summary>
    <br>
    Unlike many managed service providers who require contracts running for one year or longer, we offer monthly contracts to our customers. We believe in providing flexibility to our clients and allowing them to choose the service coverage length that best fits their needs.
    <br>
</details>
<br>

<details>
    <summary>How do I get started?</summary>
    <br>
    Whether you're ready to get started or would like to learn more, we offer a complimentary 30-minute virtual consultation with one of our dedicated IT experts to better understand your business IT requirements. Schedule your appointment today.
    <br>
</details>

