<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>

<h2>Company</h2> 

## Who is Colbal?
insert text here
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## What do we do?
insert text here
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## Where are you located?
We are physically located in Southern New Hampshire and Chandler, Arizona. We can provide face-to-face service to companies within those areas; however, many of our services can be used remotely anywhere in the world!  
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## What services do you offer?
insert text here
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>


# Sales & Pricing

## How will I know your services suit our needs?
Talk about initial consultation
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## How much do your services cost?
As an MSP that offers customized solutions for every business, our pricing depends on your needs. If you're interested in managed IT services, visit our managed IT services page for general pricing information. For additional information and pricing on all other services, schedule a free IT consultation.
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## How long are your service plans?
Unlike many managed service providers who require contracts running for one year or longer, we offer monthly contracts to our customers. We believe in providing flexibility to our clients and allowing them to choose the service coverage length that best fits their needs.
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## How long are your service plans?
Unlike many managed service providers who require contracts running for one year or longer, we offer monthly contracts to our customers. We believe in providing flexibility to our clients and allowing them to choose the service coverage length that best fits their needs.
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
## How do I get started?
Whether you're ready to get started or would like to learn more, we offer a complimentary 30-minute virtual consultation with one of our dedicated IT experts to better understand your business IT requirements. Schedule your appointment today.
<details>
    <summary>How do I dropdown?</summary>
    <br>
    This is how you dropdown.
    </details>
    <details>
<summary>How do I dropdown?</summary>
<br>
This is how you dropdown.
</details>
