<div class="service-tiles">
  <!-- design container -->
  <div class="service-container" id="service-cont-one">
    <div class="service-image-container">
      <i class="fa-solid fa-palette fa-6x"></i>
      <noscript>
        <i class="fa-solid fa-palette fa-6x"></i>
      </noscript>
    </div>
    <div class="service-content-container">
      <h2 class="service-title">Web Design</h2>
      <p class="service-paragraph"></p>
      <p>Reach customers, Show off business</p>
      <br />
      <a href="#" class="link dim black">Pages from Scratch</a><br />
      <a href="#" class="link dim black">Page redesign</a><br />
      <a href="#" class="link dim black">Logo creation</a><br />
      <a href="#" class="link dim black">SEO improvements</a><br />
      <a href="#" class="link dim black">Page AB testing</a><br />
      <a href="#" class="link dim black">Website optimization</a>
      <p></p>
      <a
        class="button service-link link grow dib pa2 black ba b--light-silver br2 shadow-5"
        href="/services/web-design"
        >Web Design</a
      >
    </div>
  </div>
  <!-- it container -->
  <div class="service-container" id="service-cont-two">
    <div class="service-image-container">
      <i class="fa-solid fa-computer fa-6x"></i>
      <noscript>
        <i class="fa-solid fa-computer fa-6x"></i>
      </noscript>
    </div>
    <div class="service-content-container">
      <h2 class="service-title">IT Consulting</h2>
      <p class="service-paragraph"></p>
      <p>Solutions and Growth</p>
      <br />
      <a href="#" class="link dim black">Email security gateways</a><br />
      <a href="#" class="link dim black">Technology research</a><br />
      <a href="#" class="link dim black">New tech/app navigation</a><br />
      <a href="#" class="link dim black"
        >On-site(limited) and Off-site IT services</a
      ><br />
      <a href="#" class="link dim black">Cybersecurity consulting</a><br />
      <a href="#" class="link dim black">Custom programming</a><br />
      <p></p>
      <a
        class="button service-link link grow dib black ba b--light-silver br2 shadow-5 pa2"
        href="/services/consulting"
        >Consulting</a
      >
    </div>
  </div>
  <!-- cloud container -->
  <div class="service-container" id="service-cont-three">
    <div class="service-image-container">
      <i class="fa-solid fa-cloud-arrow-up fa-6x"></i>
      <noscript>
        <i class="fa-solid fa-cloud-arrow-up fa-6x"></i>
      </noscript>
    </div>

    <div class="service-content-container">
      <h2 class="service-title">Cloud Migration</h2>
      <p class="service-paragraph"></p>
      <p>Scalability / Work from Home</p>
      <br />
      <a href="#" class="link dim black">Solution analysis </a><br />
      <a href="#" class="link dim black">Migration of users and files</a><br />
      <a href="#" class="link dim black">Security</a><br />
      <a href="#" class="link dim black">Training</a><br />
      <a href="#" class="link dim black">Identity Access Management</a><br />
      <a href="#" class="link dim black">Backup and recovery</a>
      <p></p>
      <a
        class="button service-link link grow dib black ba b--light-silver br2 shadow-5 pa2"
        href="/services/cloud"
        >To the Cloud</a
      >
    </div>
  </div>
</div>
