<style>
    summary{
        font-size: x-large;
        font-weight: bold;
    
    }
</style>


<details>

    <summary>Web Design</summary> 
    <br>
    First and foremost, we are here to support our clients. There are many ways we can help in the area of Web Design. From creating a new site from scratch and maintaining it for you, to teaching you how to build and maintain your own site. Our goal is to help you in whatever capacity we can and we have an array of options, and prices, to suit your needs.
    </details>
<br>
<details>
        <summary>Consulting</summary>
        <br>
        As consultants we are hired to do many things. These could include custom software development, infrastructure planning, security analysis, and risk assessment. We also advise on the strategic or financial sides of technology and software, such as how to invest in cost-efficient systems or how to integrate new software.
    </details>
<br>
<details>
            <summary>Process Improvement</summary>
            <br>
            We believe in the process improvement model not the process replacement model. Meaning we not only provide solutions but we ensure that those solutions fit your business need. We work with you to mold solutions that actually help. When an idea falls short (eventually one will) that’s where we shine.
         </details>
<br>
<details>
                <summary>Technology Research and Navigation</summary>
                <br>
                Want to use the new technological fad but not sure if it fits. We can help with that too. To be honest, we are a bunch of research geeks and technology is our poison. If you have heard of it, we have a solution example. Google is great but Colbal is better as we sift through all the misinformation that plagues the world.

<br>                <code>
“VR is the new best thing for business!”     Your selling handmade crafts on Etsy…let’s see if VR can increase revenue.
</code>
</details>
<br>
<details>
                    <summary>Cloud Migration</summary>
                    <br>
                    Would you like to move to a hybrid or cloud model? Let us do the heavy lifting and find which cloud model is best for you and your business.
</details>