<div class="intro">
  <p class="pa2">
    First and foremost, we are here to support our clients. There are many ways
    we can help in the area of Web Design. From creating a new site from scratch
    and maintaining it for you, to teaching you how to build and maintain your
    own site. Our goal is to help you in whatever capacity we can and we have an
    array of options, and prices, to suit your needs.
  </p>
</div>

<div class="blurb-container ma2">
  <div class="flex flex-wrap">
    <div class="bar background-image fl w-100 w-50-ns">
      <div class="mask">
        <div class="on-image .shadow-5">
          <h1>Pages from Scratch</h1>
        </div>
      </div>
    </div>
    <div class="service-blurb fr w-100 w-50-ns">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>

<div class="blurb-container ma2">
  <div class="flex flex-wrap">
    <div class="bar background-image fl w-100 w-50-ns">
      <div class="mask">
        <div class="on-image .shadow-5">
          <h1>Pages from Scratch</h1>
        </div>
      </div>
    </div>
    <div class="service-blurb fr w-100 w-50-ns">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>

<div class="blurb-container ma2">
  <div class="flex flex-wrap">
    <div class="bar background-image fl w-100 w-50-ns">
      <div class="mask">
        <div class="on-image .shadow-5">
          <h1>Pages from Scratch</h1>
        </div>
      </div>
    </div>
    <div class="service-blurb fr w-100 w-50-ns">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>

<div class="blurb-container ma2">
  <div class="flex flex-wrap">
    <div class="bar background-image fl w-100 w-50-ns">
      <div class="mask">
        <div class="on-image">
          <h1>Pages from Scratch</h1>
        </div>
      </div>
    </div>
    <div class="service-blurb fr w-100 w-50-ns">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
